
.dark {
    color: var(--pt);
    background-color: rgb(225, 224, 235);
}

.dark .bg8 {
    background-color: rgba(0, 0, 0, 0.010);
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}

.dark #main2 {
    background-color: rgb(245, 245, 255);
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark .bg3, .dark #bg4{
    background-color: rgba(0, 0, 0, 0.010);
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.Cr .Cryo{
    display: block;
}
.Cr .Electro,.Cr .Anemo,.Cr .Hydro,.Cr .Geo,.Cr .Pyro{
    display: none;
}
.Cl .Claymores{
    display: none;
}
.dark .bg5 b{
    color: #ffb618;
}
.Sw .Swords{ 
    display: none;
}

.Bw .Bows{ 
    display: none;
}

.Ct .Catalysts{ 
    display: none;
}

.Pl .Polearms{ 
    display: none;
}

.dark #dpflex2 {
    background-color: rgb(252, 252, 252);
    
}
.dark #ggg, .dark #Vt{
   color: var(--pt);
}


.dark .dpflex3 {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}

.dark #bg2 a{
    color: white;
}


.dark .bg1 {
    background-color: rgba(0, 0, 0, 0.010);
   
}


.dark #bg2{
    color: white;
    background-color: #0f0c16b2;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark .header-center a{
    color: var(--pt);
}

.dark #header {
    background-color: rgb(245, 245, 255);
    color: rgb(103, 96, 114);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark #content{
    background-color: rgb(245, 245, 255);
}

.dark #header a:hover {
    
    color: #000000;
}
.dark #bdd{
    border-bottom: 3px solid #ffbb1d;
}
.dark .ops{
    background-color: rgba(0, 0, 0, 0.010);
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 2px inset;
}
.dark .ops a{
    color:var(--pt);
}
.dark #header a{
    color: rgb(67, 62, 75);
}

.dark #vis1{
    background-color: #0f0c16b2;
    
}
.dark .cs{
    color: #1b162ad1;
    background-color: #27293726;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark .bg5{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 2px inset;
}
.dark #bg11{
    background-color: #fbf9ff;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark #main1{
    background-color: #fbf9ff;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark .ICONS, .dark .elicon{
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}
.dark #bg11 a:hover{
    color: rgb(0, 0, 0);
    
    font-weight: bold;
}
.dark ::-webkit-scrollbar-track{
    background-color: #696b822a; 
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.211) 0px 0px 0px 1px inset;
}
.dark ::-webkit-scrollbar-thumb{
    background-color: #696b8268; 
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #9797dab4;
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 1px inset;
  }


.dark hr{
    background-color: var(--pt);
    height: 2px;
    border: 0;
}



.dark #txt hr{
    background-color: rgba(0, 0, 0, 0.010);
}
.dark .titulos2,.dark .titulos3,.dark .gas{
    color: #ffa81d;
}
.dark #bg4 tr:first-of-type{
    color: #ffa81d;
    border-bottom:1px solid rgb(0, 0, 0);
}
.dark #bg4 tr td:first-of-type{
    border-right:1px solid rgb(0, 0, 0);
}
.dark .bg3 tr td:first-of-type{
    color: #ffa81d;
}