
body.dark {
    color: var(--pt);
    background-color: rgb(225, 224, 235);
}

body.dark .bg8 {
    background-color: white;
   
}

body.dark #main2 {
    background-color: rgb(245, 245, 255);
    
}


body.Cl .Claymores{
    display: none;
}

body.Sw .Swords{ 
    display: none;
}
body.Py .Pyro{
    display: none;
}
body.Bw .Bows{ 
    display: none;
}

body.Ct .Catalysts{ 
    display: none;
}

body.Pl .Polearms{ 
    display: none;
}
body.Star5 #bg12 .bg_golden{
    display: block;
}
body.Star5 #bg12 .bg_purple{
    display: none;
}

body.Star5 #bg12 .bg_blue{
    display: none;
}
body.Star5 #bg12 .bg_green{
    display: none;
}
body.Star5 #bg12 .bg_gray{
    display: none;
}

body.Star4 #bg12 .bg_golden{
    display: none;
}

body.Star4 #bg12 .bg_blue{
    display: none;
}
body.Star4 #bg12 .bg_green{
    display: none;
}
body.Star4 #bg12 .bg_gray{
    display: none;
}
body.Star4 #bg12 .bg_purple{
    display: block;
}
body.dark #dpflex2 {
    background-color: rgb(252, 252, 252);
    
}
body.dark #ggg{
   color: var(--pt);
}


body.dark .dpflex3 {
    background-color: rgb(245, 246, 253);
    
}

body.dark #bg2 a{
    color: white;
}

body.dark .gas {
    color: #ffb618;
}

body.dark .bg3 {
    background-color: rgb(231, 230, 255);

}

body.dark .bg1 {
    background-color: white;

}





body.dark #bg4 {
    background-color: rgb(248, 248, 255);
    
}

body.dark .displayflex {
    background-color: white;

}

body.dark #bg2{
    color: white;
    background-color: #0f0c16b2;
}
body.dark a{
    color: var(--pt);
}

body.dark #header {
    background-color: rgb(245, 245, 255);
    color: rgb(103, 96, 114);
}
body.dark #content{
    background-color: #a5a5ca;
    color: #38355a;
}

body.dark #header a:hover {
    
    color: #000000;
}
body.dark #bdd{
    border-bottom: 2px solid black;
}
body.dark #header a{
    color: rgb(67, 62, 75);
}

body.dark #vis1{
    background-color: #0f0c16b2;
    
}
body.dark .cs{
    color: white;
    background-color: var(--pt);
}
body.dark .bg5{
    background-color: #ffffff;
    
}
body.dark #bg11{
    background-color: #fbf9ff;
}
body.dark #main1{
    background-color: #fbf9ff;
}

body.dark #bg11 a:hover{
    color: rgb(0, 0, 0);
    
    font-weight: bold;
}
body.dark ::-webkit-scrollbar-thumb{
    background: #5050806e;
}
body.dark ::-webkit-scrollbar-thumb:hover {
    background: #9797dab4;
    
  }


body.dark hr{
    background-color: var(--pt);
    height: 2px;
    border: 0;
}



body.dark #txt hr{
    background-color: white;
}
body.dark .titulos{
    color: var(--pt);
}