:root{
    --pt:rgb(49, 49, 74);
    --css: rgb(26, 29, 39);
    --BACK-GROUND:#1f1f2b;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    background: var(--css);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:min(15px,3.8vw);
}
input{
    display: none;
}

.ponto {
    visibility: hidden;
}

.bg5 .ICONS{
    display: inline-block;
}
#header {
    border-bottom: 1px solid white;
    
    background-color: var(--css);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    
    padding: 20px 10px;
    z-index: 1;
}

.header-center {
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(0.8vw, 12px);
    
}

.dgd {
    font-size: max(0.7vw, 10px);   
    font-weight: bold; 
}
#nome{
    font-size: max(1.2vw, 16px);
   font-weight: bold;
   color: white;
   text-align: center;
}
#txt .titulos3{
    text-align: center;
    line-height: 1.8;
    

}
.titulos {
    font-size: max(1.3vw, 20px);
    font-weight: bold;
}

.titulos2 {
   font-size: max(1.2vw, 16px);
   font-weight: bold;
   
   color: #ffd780;
}

.titulos3 {
    font-size: max(0.8vw, 12px);
    font-weight: bold;
    line-height: 2.4;
    
    color: #ffd780;
}
#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: #d2d2d2;
    transition: 0.3s;
   
}

#database{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#content{
    display: none;
    position: absolute;
    background-color: var(--css);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  padding: 20px 40px;
  z-index: 2000;
  
}
#bn, #bj{
    display: none;
}
#main1 form img{
    padding: 5px;
}
#Claymore:checked + #Cl img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
#Sword:checked + #Sw img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}


#Bow:checked + #Bw img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
#Polearm:checked + #Pl img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}

#Catalyst:checked + #Ct img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}

#database:hover #content{
    display: block;
}
#Geo:checked + #Ge img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
#Electro:checked + #El img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
.Pyro, .Hydro, .Geo, .Cryo, .Electro, .Anemo{
    display: block;
}
#Hydro:checked + #Hy img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
#Pyro:checked + #Py img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
#Anemo:checked + #An img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
#Cryo:checked + #Cr img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-size: 100%;
    
    border-radius: 6px;
}
.lua{
    color: white;
    
    padding: 3px 8px;
    border-radius: 20px;
    position: relative;
display: flex;
align-items:center;


font-size: 16px;
}
#main1 label img{
    cursor: pointer;
}
label{
    cursor: pointer;
}

label i:nth-child(3) {
    position: absolute;
    font-size: 25px;
    border-radius: 50%;
    top: 0;
    left: 3.0px;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
#ff:checked + .lua label i:nth-child(3){
    transform: translateX(24.5px);
    transition: transform 0.2s linear;
}
#btt:checked + .lua label i:nth-child(3){
    transform: translateX(24.5px);
    transition: transform 0.2s linear;
}
#seta{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.475) 0px 0px 0px 1px inset;display:flex;justify-content:center;align-items:center;color:white;background-color:rgba(0, 0, 0, 0.204);top:50%;right:10%;height:40px;width:40px;border-radius:50%;position:fixed;
   z-index: 1;
}
#main2 {
    border-radius: 5px;
    background-color: #272937;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

#main4{
    max-width: 1100px;
    min-width: 200px;
    margin: auto;
}
#main1{
    max-width: 900px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 9px;
    background-color: #272937;
    color: white;
    padding: 10px;
}

table, tr, th, td{
    border-collapse: collapse;
    white-space: nowrap;
text-align: center;
}

th, td{
    border: 0px;
    padding: 5px;
    vertical-align: top;
}
.bg3 tr td:first-of-type{
    padding-left: 10px;
}

#kl {
    display: inline-block;
    max-height: 400px;
    min-height: 100px;
    height: 65vw;
}

.subtitleicon {
    
    opacity: 1;
    position: relative;
}

.subtitleicon:hover {
    color: #ffffffa4;
}

.llk{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

img {
    border-style: none;
}

.displayflex {
    display: block;
    padding: 10px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.176);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
}

.displayflex .ICONS{
    display: inline-block;
    vertical-align: top;
}
.bg5 .ICONS img:last-of-type{
    border-radius: 50%;
}
.ICONS{
    text-align: center;
    background-color: rgba(126, 120, 146, 0);
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0) 0px 0.125em 0.5em, rgba(255, 255, 255, 0) 0px 0px 0px 1px inset;
}
.ICONS img:last-of-type{
    border-radius: 5px;
    background-color: rgba(126, 120, 146, 0.124); 
    width: 80px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 2px inset;
}


#txt .titulos3{
    line-height: 1.5;
}
#Times .displayflex{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ICONS:hover{
    opacity: 0.6;
    transition: 0.3s;
}
.WeaponIcon{
    width: max(70px, 3vw);
    border-radius: 900px;
  
}

.WeaponIcon:active{
    background-color: rgb(73, 69, 85);
}

.WeaponIcon:hover{
    opacity: 0.7;
}

table{
    width: 100%;
}
.dpinblock {
    display: inline-block;
    position: relative;
}

.LOGO {
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
}
.LOGO img, .LOGO2 img{
    height: 50px;
    width: 50px;
}
.LOGO2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: inline-block;
}



#bg2 {
    text-align: center;
    background-color: #0f0c16b2;
  padding: 50px 10px;
}


.bg3 {
    background-color:rgba(0, 0, 0, 0.176);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 10px;
}

#bg4 {
    background-color:var(--css);
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
    margin: auto;
}

#bg11{
    background-color:var(--css);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    text-align: justify;
}
#bg11 .bg5{
    margin-bottom: 20px;
    display: inline-block;
}
.bg5 b{
    color: #ffd780;
}

#database:hover i{
    transform: rotate(90deg);
    transition: transform 0.25s linear;
}
#bg12{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.art {
    width: 120px;
    
    margin: 5px;
}
.bg_golden:hover, .bg_purple:hover,.bg_blue:hover, .bg_green:hover, .bg_gray:hover, .s1:hover,.s2:hover,.s3:hover,.s4:hover,.s5:hover{
    opacity: 0.8;
    transition: 0.3s;
}

#bg12 .bg_green,#bg12 .bg_golden,#bg12 .bg_purple,#bg12 .bg_gray,#bg12 .bg_blue{
    display: inline-block;
    text-align: center;
    margin: 5px;
    width: min(140px,40vw);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.A_A,.A_A1{
    overflow-x:auto; 
    display: flex; 
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}
.bg8 .A_A1{
    align-items: flex-start;
    
}
.A_A1 .bg_golden{
    margin-right: 10px;
    
}
.bg_golden img:nth-child(1),.bg_purple img:nth-child(1),.bg_blue img:nth-child(1),.bg_green img:nth-child(1),.bg_gray img:nth-child(1){
    width: 110px;
    height: 110px;
    
}
.bg_purple img:nth-last-child(1){
    width: 67px;
    height: 20px;

}
.bg_golden img:nth-last-child(1){
    width:82px;
    height: 20px;
}
.bg_blue img:nth-last-child(1){
    width: 52px;
    height: 20px;
}
.bg_green img:nth-last-child(1){
    width: 34px;
    height: 20px;
}
.bg_gray img:nth-last-child(1){
    width: 21px;
    height: 20px;
}
.ffd{
    background-color: #0000003b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#vis1 {
    text-align: right;
    display: none;
    color: white;
}
.topnav {
    
    display: none;
}
.topnav #myLinks {
    display: none;
    
}
.mobile-container {
    z-index: 3;
    position: fixed;
    border-radius: 10px;
    width: 100%;
}
#bg4 tr:first-of-type{
    color: #ffd780;
    font-weight: bold;
    border-bottom: 1px solid white;
}
#bg4 tr td:first-of-type{
    font-weight: bold;
    border-right: 1px solid white;
}
.bg3 .vam{
    color: #ffd780;
    font-weight: bold;
}
.bg_golden{
    background-image:linear-gradient(135deg, rgb(107, 84, 83), rgb(189,140,81));
}
.bg_purple{
    background-image:linear-gradient(135deg, rgb(91, 83, 129) , rgb(183, 136, 202));
}

.bg_gray {
    background-image:linear-gradient(135deg, rgb(80, 88, 94) ,  rgb(135, 141, 157));
}
.bg_green{
    background-image:linear-gradient(135deg, rgb(73, 86, 91), rgb(93, 150, 108));
}
.bg_blue{
    background-image:linear-gradient(135deg, rgb(81, 84, 120) , rgb(74, 157, 179));
}
.bg_golden, .bg_purple, .bg_gray, .bg_green, .bg_blue{
    border-radius:5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.393) 0px 0px 0px 1px inset;
}

.Picon, .Picon2{
    position: relative;
    display: inline-block;
}

#gta,#gtp,#gth,#gte,#gtc,#gtg{
    background-color:#00000039;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.205) 0px 0px 0px 2px inset;
}
.bg3 img{
    width:50px;
    height: 50px;
}
.ops{
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    text-align:center; 
    background-color:var(--css); 
    overflow-x:auto;
    white-space: nowrap;
    padding:5px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.ops a{
    margin: 10px;
    font-weight: bold;
}
#pers {
    background-image:linear-gradient(135deg, rgb(107, 84, 83), rgb(189,140,81));
   
}
#pers, #pers2{
    align-items: top;
    padding:20px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    position: relative;
    display: flex;
    justify-content: space-around;
    
    margin: auto;
color: white;
}
#pers2 {
    background-image:linear-gradient(135deg, rgb(91, 83, 129) , rgb(183, 136, 202));
}
#tlS,#tlSS,#tlA,#tlB,#tlD{
    z-index: 1;
    display: flex;
        justify-content: space-around;
        align-items: center;border-radius:5px;height:35px;width:35px;position: absolute; padding:0px;color:black;font-weight:bold;
        top:-5px;
        left:-5px;font-size:23px;  
}
#tlB{
    background-color:rgb(0, 179, 211);
}
#tlS{
    background-color: #ffaf68;
}#tlSS{
    background-color: #ff5353;
}
#txt {
    margin-left: 10px;
    font-size: min(15px,3vw);
    background-color: rgba(0, 0, 0, 0.187);
    padding: 5px 5px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#txt a {
    
    font-weight: bold;
    display: block;
}

#txt a:hover {
    color: #ffffff;
    transition: 0.3s;
}

.fa {
    vertical-align: middle;
    width: max(16px, 1.5vw);

}

#dpflex2 {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: inline-block;
    background-color:var(--css);
    padding: 5px;
}

#dpflex2 a:hover {
    color: white;
    transition: 0.5s;
}

.dpflex3 {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color:var(--css);
    line-height: 1.8em;
    text-decoration: none;
    padding: 30px;
    margin: auto;
}

.dpflex3 img{
    height:max(2.4vw, 30px) ;
}

a {
    text-decoration: none;
    color: white;
}

.vam {
    vertical-align: middle;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bg8 {
    background-color:rgba(0, 0, 0, 0.176);
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    margin: auto;
}

.bg5{
width:100%;
margin: auto;
    background-color: #4d45613d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    text-align: center;
    padding:0px 15px 15px 15px;
}
.cs {
    padding: 7px;
    background-color: #272937;
    border-radius: 50%;
    margin:0px 15px;
    display: inline-block;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.marcador {
    width: max(2vw,30px);
    vertical-align: middle;
}

.mc2{
    font-size: max(1.5vw, 25px);
    display:inline-block ;
}

#ghg {
    width: 30%;
    min-width: 70px;
    max-width: 110px;
}

li {
    list-style-type: disc;
}

.elicon{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35%;
    min-width: 30px;
    display: inline-block;
    border-radius: 50%;
    padding: 3.5px;
    background-color: #1f1f2b2f;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


::-webkit-scrollbar {
    height: 10px;
}
  
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

::-webkit-scrollbar-thumb {
    background-color: #47405b78; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #414155b4;
    
}

.fd{
    display: inline-block;
}

.fd img{
    width: 100px;
    height: 100px;
    border-radius: 900px;
}
.bg5 img:hover{
    opacity: 0.6;
    transition: 0.3s;
}
.Segunda, .Terça, .Quarta, #Domingo, #SegundaM, #TerçaM, #QuartaM, #Quinta, #Sexta, #Sábado{
    display: none;
}
.B1{
    padding: 15px;
}
.fxx{
    display: flex;
    justify-content:space-between; 
}
#bdd{
    border-bottom: 3px solid #ffd780;
}
#ex{
    display: none;
}
.displayflex .ICONS{
    margin: 6px;
}@media only screen and (max-width: 1250px) {
#seta{right:20px;}}
@media only screen and (max-width: 850px) {
   
    ::-webkit-scrollbar {
        height: 6px;
    }
    
    #main4, #main2, #main1{
        margin-top: 50px;
    }
    #vis1 {
        display: block;
        background: #12121bb6;
        z-index: 1;
    }
    #main2{
        padding: 10px;
    }
    #header {
        display: none
    }
    .topnav {
        display: block;
    }
    #LOGO {
        display: none;
    }
    .ICONS img:last-of-type{
        width: 70px;
        height: 70px;
    }
    .ICONS{
        margin: 6px;
    }
    .bg3 img{
        width: 40px;
        height: 40px;
    }
    .displayflex6{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: space-between;
    }
    .bg5{
        width:min(400px,70vw);
        margin-right: 5px;
        padding: 0px 5px;
    }
    #main4 .bg5{
        width: 45%;
    }
    .rollx{
        display: flex;
        overflow-x: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    #main2{
        margin-left:10px;
        margin-right:10px;
    }
}

@media only screen and (max-width: 682px) {
    #tlS,#tlA,#tlB,#tlD{
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
    
    #gta,#gtp,#gth,#gte,#gtc,#gtg{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 368px) {
}
.dark {
    color: var(--pt);
    background-color: rgb(225, 224, 235);
}
.dark .bg8, .displayflex, .dark #main2, .dark .bg3, .dark #bg4,.dark .bg5,.dark .ICONS img,.dark .ops,.dark .cs,.dark #bg11, .dark #main1,.dark ::-webkit-scrollbar-track,.dark ::-webkit-scrollbar-thumb{
    box-shadow: rgba(0, 0, 0, 0.312) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(54, 47, 82, 0.361) 0px 0px 0px 2px inset;
}
.dark .bg8,.dark .displayflex,.dark .bg3, .dark #bg4,.dark .bg5,.dark .ops,.dark .cs,.dark .displayflex{
    background-color: rgba(0, 0, 0, 0.010);
}
.dark #main2,.dark #bg11, .dark #main1,.dark #header,.dark #content{
    background-color: rgb(245, 245, 255);
    
}
.dark .bg3 a,.dark #ggg, .dark #Vt,.dark .pl,.dark #header a,.dark .ops a{
    color: var(--pt);
}
.Cl .Claymores{
    display: none;
}
.Sw .Swords{ 
    display: none;
}

.Bw .Bows{ 
    display: none;
}
.Ct .Catalysts{ 
    display: none;
}
.Pl .Polearms{ 
    display: none;
}
.dark #header a:hover{
    color: rgba(0, 0, 0, 0.302);
}
.dark #bdd{
    border-bottom: 3px solid #cd6000;
}
.dark #pers .titulos3,.dark #pers2 .titulos3{
    color:#ffd780;
}
.dark ::-webkit-scrollbar-track,.dark ::-webkit-scrollbar-thumb{
    background-color: #696b826c; 
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #9797dab4;
}
.dark hr{
    background-color: var(--pt);
    height: 2px;
    border: 0;
}

.dark .titulos2,.dark .titulos3,.dark .bg3 tr td:first-of-type, .dark #bg4 tr:first-of-type,.dark .bg5 b{
    color: #cd6000;
}
.dark #bg4 tr td:first-of-type{
    border-right:1px solid rgb(0, 0, 0);
}
.dark #bg4 tr:first-of-type{
    border-bottom:1px solid rgb(0, 0, 0);
}