:root{
    --pt:rgb(31, 29, 35);
    --css: #12121b;
    --BACK-GROUND:#1f1f2b;
}

*{
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    background: var(--css);
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size:min(15px,3.8vw);
}
input{
    display: none;
}
.ponto {
    visibility: hidden;
}

.rollx{
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
}

#header {
    
    
    background-color: var(--css);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    
    padding: 20px 10px;
    z-index: 1;
}

.header-center {
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(0.8vw, 12px);
}

.dgd {
    font-size: max(0.7vw, 10px);   
    font-weight: bold; 
}

.titulos {
    font-size: max(1.4vw, 20px);
    font-weight: bold;
    
}

.titulos2 {
   font-size: max(1.2vw, 16px);
   font-weight: bold;
   
}

.titulos3 {
    font-size: max(0.8vw, 11px);
    font-weight: bold;
    line-height: 2.4;
    
}

#header a {
    
    text-decoration: none;
}

#header a:hover {
    color: #d2d2d2;
    transition: 0.3s;
   
}

#database{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#content{
    display: none;
    position: absolute;
    background-color: var(--css);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  padding: 20px 40px;
  z-index: 1;
  
}
#bn, #bj{
    display: none;
}
#main1 form img{
    padding: 5px;
}
#Claymore:checked + #Cl img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
#Sword:checked + #Sw img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}


#Bow:checked + #Bw img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
#Polearm:checked + #Pl img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}

#Catalyst:checked + #Ct img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}

#database:hover #content{
    display: block;
}
#Geo:checked + #Go img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
#Electro:checked + #El img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
.Pyro{

position: relative;
}
#Hydro:checked + #Hy img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
#Pyro:checked + #Py img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
#Anemo:checked + #An img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
#Cryo:checked + #Cr img{
    background-color: #ffffff15;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 100%;
    
    border-radius: 6px;
}
.lua{
    color: white;
    
    padding: 3px 8px;
    border-radius: 20px;
    position: relative;
display: inline-block;


font-size: 16px;
}
#main1 label img{
    cursor: pointer;
}
label{
    cursor: pointer;
}

label i:nth-child(3) {
    position: absolute;
    font-size: 25px;
    border-radius: 50%;
    top: 1.4px;
    left: 3.0px;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
#ff:checked + .lua label i:nth-child(3){
    transform: translateX(24.5px);
    transition: transform 0.2s linear;
}
#btt:checked + .lua label i:nth-child(3){
    transform: translateX(24.5px);
    transition: transform 0.2s linear;
}
#main2 {
    border-radius: 12px;
    background-color: #2a2a3b;
    max-width: 900px;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    padding-top: 40px;
    margin: auto;
}

#main4{
    max-width: 850px;
    min-width: 200px;
    margin: auto;
}
#main1{
    max-width: 900px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 9px;
    background-color:var(--css);
    color: white;
    padding: 10px;
}

table, tr, th {
    border-collapse: collapse;
}

th {
    font-weight: normal;
    border: 0px;
    vertical-align: top;
}

#kl {
    display: inline-block;
    max-height: 400px;
    min-height: 100px;
    height: 65vw;
}

.subtitleicon {
    
    opacity: 1;
    position: relative;
}

.subtitleicon:hover {
    color: #ffffffa4;
}

.llk{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

img {
    border-style: none;
}

.displayflex {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    background-color:var(--css);
    flex-wrap: wrap;
    text-align: center;
}

.displayflex5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.displayflex6 .bg5{
    width: 250px;
}

.displayflex .dpinblock {
    position: relative;
}

.displayflex6 .dpinblock {
    position: relative;
}

.displayflex5 .dpinblock {
    position: relative;
}

.displayflex6{
    overflow-x: auto;
    display: flex;
}

.ICONS{
    width: max(70px, 3vw);
    border-radius: 900px;
}

.ICONS:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
    opacity: 0.6;
}

.ICONS:active{
    background-color: rgb(73, 69, 85);
}

.WeaponIcon{
    width: max(70px, 3vw);
    border-radius: 900px;
}

.WeaponIcon:active{
    background-color: rgb(73, 69, 85);
}

.WeaponIcon:hover{
    opacity: 0.7;
}

table {
    width: 100%;
}

.dpinblock {
    display: inline-block;
}

#LOGO {
    font-size: 23px;
    background-color: #31314080;
    color: white;
    padding: 5px 20px;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
}

#LOGO2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.bg1 {
    background-color: #2a2a3b;
    box-shadow: 0 1px 2px rgb(0 0 0 / 24%), 0 1px 3px rgb(0 0 0 / 42%);
}

#bg2 {
    text-align: center;
    background-color: #0f0c16b2;
  padding: 50px 10px;
}


.bg3 {
    background-color: #5252744b;
}

#bg4 {
    background-color:var(--css);
    padding: 20px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 400px;
    min-width: 260px;
    margin: auto;
}

#bg11{
    background-color:var(--css);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 9px;
    
}


#database:hover i{
    transform: rotate(90deg);
    transition: transform 0.25s linear;
}
#bg12{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#bg12 .bg_golden img:first-child, .bg_purple img:first-child, .bg_blue img:first-child, .bg_green img:first-child, .bg_gray img:first-child{
    width: max(100px,6vw);
}

.bg_golden img:hover:first-child, .bg_purple img:hover:first-child, .bg_blue img:hover:first-child, .bg_green img:hover:first-child, .bg_gray img:hover:first-child{
    opacity: 0.5;
}
#bg12 .bg_purple img:nth-child(4), .bg_blue img:nth-child(4), .bg_green img:nth-child(4), .bg_gray img:nth-child(4) .bg_golden img:nth-child(4){
    height: max(18px,1vw);
}

#bg12 .bg_green, .bg_golden,.bg_purple,.bg_gray,.bg_blue{
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 5px;
    width: max(120px,8vw);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#bg12 .bg_gray b::after{
content:url(images/We/11star.png);
}
#bg12 .bg_green b:after{
    content:url(images/We/22star.png);
}
#bg12 .bg_blue b::after{
    content:url(images/We/33star.png);
}
#bg12 .bg_purple b::after{
    content:url(images/We/44star.png);
}
#bg12 .bg_golden b::after{
    content:url(images/We/55star.png);
}

.A_A{
    overflow-x:auto; 
    display: flex; 
    align-items: center;
    font-size:max(13px,0.8vw);
    color: #ffffff;
    font-weight: bold;
}
.A_A img{
    width: 80%;
    min-width: 100px;
}
.bg8 .A_A:last-child{
    align-items: flex-start;
}
.A_A .bg_gray::after{
content:url(images/We/11star.png);
}
.A_A .bg_green::after{
    content:url(images/We/22star.png);
}
.A_A .bg_blue::after{
    content:url(images/We/33star.png);
}
.A_A .bg_purple::after{
    content:url(images/We/44star.png);
}
.A_A .bg_golden::after{
    content:url(images/We/55star.png);
}    

#vis1 {
    text-align: right;
    display: none;
}

.topnav {
    
    display: none;
}

.topnav #myLinks {
    display: none;
    
}

.mobile-container {
    z-index: 3;
    position: fixed;
    border-radius: 10px;
    width: 100%;
}

.pl {
    font-family: sans-serif;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 2px;
    text-align: center;
}

.bg_golden, .s5 {
    background-image:linear-gradient(135deg, rgb(107, 84, 83), rgb(189,140,81));
}

.bg_purple, .s4{
    background-image:linear-gradient(135deg, rgb(91, 83, 129) , rgb(183, 136, 202));
}

.bg_gray, .s1 {
    background-image:linear-gradient(135deg, rgb(80, 88, 94) ,  rgb(135, 141, 157));
}
.bg_green, .s2{
    background-image:linear-gradient(135deg, rgb(73, 86, 91), rgb(93, 150, 108));
}
.bg_blue, .s3{
    background-image:linear-gradient(135deg, rgb(81, 84, 120) , rgb(74, 157, 179));
}
.bg_golden, .bg_purple, .bg_gray, .bg_green, .bg_blue{
    padding: 10px;
    background-size: 100%;
    border-radius: 10px 10px 30px 30px;
    color: white;
}
.Picon{
    position: relative;
    background-color: #1f1f2b89;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 10%;
    text-align: center;
}
.Picon #gt{
    
    
    display: inline-block;
    text-align: center;
    
    
}
.s1, .s2, .s3, .s4, .s5 {
    background-size: 100%;
    width: 90%;
    min-width: 40px;
    border-radius: 9px;
}



#pers {
    padding: 20px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-image:linear-gradient(135deg, rgb(107, 84, 83), rgb(189,140,81));
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgb(0 0 0 / 24%), 0 1px 3px rgb(0 0 0 / 42%);
    border-radius: 9px;
    background-image: url(images/Backgrounds/bg_golden.png);
   
}
.ops{
    position: absolute;bottom: -70px; z-index: 20000;
    text-align:center; background-color:var(--css) ; overflow-x:auto;white-space: nowrap; font-weight:bold; padding:5px 20px; max-width: 800px; margin: auto; display: flex; justify-content: space-between;
}
.ops a{
    margin: 10px;
}
#pers2 {
    align-items: top;
    padding:20px 10px;
    background-image:linear-gradient(135deg, rgb(91, 83, 129) , rgb(183, 136, 202));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    display: flex;
    justify-content: space-around;
    
    margin: auto;
color: white;
}


#txt {
    display: inline-block;
   color: white;
    text-align: left;
    background-color: #0000002c;
    padding: 10px;
    border-radius: 9px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    font-size: min(15px,2.7vw);  
}

#txt a {
    color: rgb(102, 102, 180);
    font-weight: bold;
}

#txt a:hover {
    color: #ffffff;
    transition: 0.3s;
}

.fa {
    vertical-align: middle;
    width: max(16px, 1.5vw);

}

#dpflex2 {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    background-color:var(--css);
    padding: 5px;
}

#dpflex2 a:hover {
    color: white;
    transition: 0.5s;
}

.dpflex3 {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:var(--css);
    line-height: 1.8em;
    text-decoration: none;
    padding-top:max(3vw, 20px) ;
    padding-bottom: max(3vw, 20px);
    padding-left:max(3vw, 20px) ;
    padding-right: max(3vw, 20px);
    max-width: 560px;
    margin: auto;
}

.dpflex3 img{
    height:max(2.4vw, 30px) ;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.vam {
    vertical-align: middle;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bg8 {
    background-color:var(--css);
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}

.bg5{
    width:45%;
    background-color: #4d45613d;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.cs {
    padding: 7px;
    background-color: #414155be;
    border-radius: 50%;
    margin: 15px;
}



.marcador {
    width: max(2vw,30px);
    vertical-align: middle;
}

.mc2{
    font-size: max(1.5vw, 25px);
    display:inline-block ;
}

.starsize {
    height: 18px;
}


.gas {
    display: inline-block;
    color: #ffd780;
    font-family: sans-serif;
    font-weight: bold;
}

.modal-container{
    background: rgb(0, 0, 0, .5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    background-size: 100%;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

.modal {
    position: relative;
    padding: 20px;
}

.fechar{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #63528a8c;
}

.ayuh{
    width: 100%;
    min-width: 100px;
    max-width: 600px;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#ghg {
    width: 30%;
    min-width: 70px;
    max-width: 110px;
}

li {
    list-style-type: disc;
}

.elicon{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 44%;
    min-width: 30px;
    display: inline-block;
    background-color: #53427944;
    border-radius: 50%;
    padding: 3px;
    z-index: 2;
}

.bg5 .elicon{
    right: -6px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.318);
}

::-webkit-scrollbar-thumb {
    background: #414155a4; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #414155b4;
    
}

.fd{
    display: inline-block;
}

.fd img{
    width: max(100px, 6vw);
    border-radius: 900px;
}

.fd img:hover{
    opacity: 0.6;
}
  
.fd img:active{
    background-color: rgb(73, 69, 85);
}
  
#Segunda, #Terça, #Quarta, #Quarta2, #Terça2, #Segunda2, #Domingo, #SegundaM, #TerçaM, #QuartaM, #Quinta, #Sexta, #Sábado{
    display: none;
}

.B1{
    padding: 15px;
}

.fxx{
    display: flex;
    justify-content:space-between;
    
}
 
#menu, #ex{
    color: white;
    
}
#ex{
    display: none;
}
.menu-a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 15px;
    
   
}
#bdd{
    border-bottom: 2px solid white;
    display: inline-block;
}
@media only screen and (max-width: 850px) {
   
    #main4, #main2, #main1{
        margin-top: 100px;
    }
    #vis1 {
        display: block;
        background: #12121bb6;
       
    

        z-index: 1;
    }
    #main2 {
       margin-top: 100px;
        padding: 10px;
    }
    #header {
        display: none
    }
    .topnav {
        display: block;
    }
    .subtitleicon {
        opacity: 1;

    }
    #LOGO {
        display: none;
    }
    
}

@media only screen and (max-width: 682px) {
    
    .bg5{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 580px) {
    #bg11{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    
    .ayuh{
        max-width: 300px;
    }
}

@media only screen and (max-width: 870px) {
    #main2{
        margin-right: 10px;
        margin-left: 10px;
    }
}

